.home {
	min-height: 100%;
	width: 100%;
}

.animalIcon {
	width: 36px;
	height: 36px;
	color: white;
	margin-left: 16px;
	margin-top: -2px;
}

.title.title {
	font-family: zenloop;
	font-size: 36px;
	font-weight: bold;
	padding-left: 8px;
}
