@import '../../shared/defaults';

.map {
    flex-grow: 1; 
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;  
    
    .animalGroup {
        position: absolute;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;

        &.multiple {
        border: 2px solid #ccc;
        border-radius: 10px;
        padding: 5px;
        background-color: white;
        }

        .animal + .animal {
            margin-left: 4px;
        }
    }

    .animal {
        height: 24px;
        width: 24px;

        display: flex;
        justify-content: center;
        align-items: center;

        color: white;
        font-weight: bold;
        text-decoration: none;
        border-radius: 50%;
        padding-top: 2px;

        &.red {
            background-color: $red;
        }
        &.orange {
            background-color: $orange;
        }
        &.green {
            background-color: $green;
        }
    }
}

.clickable {
    cursor: pointer;
}