$orange: #FF9900;
$green: #88AD7B;
$red: #b80f0a;

$green-background: rgba($color: $green, $alpha: 0.5);
$orange-background: rgba($color: $orange, $alpha: 0.5);
$red-background: rgba($color: $red, $alpha: 0.5);

$green-background-faint: rgba($color: $green, $alpha: 0.3);
$orange-background-faint: rgba($color: $orange, $alpha: 0.2);
$red-background-faint: rgba($color: $red, $alpha: 0.2);

$primary-background: $green;

