.modalContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(#ccc, 0.5);
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    padding: 15px;

    .modalContent {
        width: 100%;
        background-color: white;
        display: flex;
    }

    .closeButton {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 36px;
        height: 36px;
        border: 0;
        border-radius: 50%;
        background-color: #111;
        opacity: 0.5;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }

        > svg {
            color: white;
            vertical-align: middle;
        }
    }
}