@import '../../shared/defaults.scss';

// Number of columns being displayed
$columns: 5;
// Width of the various columns
$danger-col-width: 20px;
$name-col-width: max-content;
$data-col-width: 40%;
// Size of the danger-dot icon
$danger-dot-diameter: 6px;

.animalList {
  width: 100%;
  padding: 7px 0 50px;

  // Display as grid, with all columns 40% except the first two (scrolls horizontally)
  display: grid;
  grid-template-columns: $danger-col-width $name-col-width repeat(
      #{$columns - 2},
      $data-col-width
    );
  overflow-x: auto;

  // Set row sizes, spacing, layout
  .animal,
  .listHeader {
    display: contents;

    > :first-child {
      padding-left: 8px;
    }

    > :last-child {
      padding-right: 10px;
    }

    @for $i from 1 through $columns {
      .col#{$i} {
        grid-column: #{$i} / #{$i + 1};
      }
    }

    // Fix the first two columns (pigs' names and danger levels)
    .col1 {
      position: sticky;
      left: 0;
    }
    .col2 {
      position: sticky;
      left: $danger-col-width;
      border-right: 1px solid #ccc;
    }
    .col3 {
      padding-left: 3px;
    }

    // Define spacing and layout within the cells
    div[class^='col'] {
      display: flex;
      align-items: center;
      word-break: break-word;

      padding-top: 3px;
      padding-bottom: 3px;

      &:not(:last-child):not(:first-child) {
        padding-right: 10px;
      }
    }
  }

  // Smaller fonts for the table
  .animal {
    div[class^='col']:not(.col1) {
      font-size: 0.8rem;
    }
  }

  .listHeader {
    font-weight: 700;
  }

  // BG color to separate rows and highlighting on hover
  .animal,
  .listHeader {
    > * {
      background-color: white;
    }

    &:nth-child(even) > * {
      background-color: #efefef;
    }
  }

  .animal {
    &:hover > * {
      cursor: pointer;
      background-color: #ddd;
    }
  }

  // Indicator of danger level
  .dangerDot {
    width: $danger-dot-diameter;
    max-width: $danger-dot-diameter;
    min-width: $danger-dot-diameter;
    height: $danger-dot-diameter;
    border-radius: $danger-dot-diameter;
    &.green {
      background-color: $green;
    }
    &.orange {
      background-color: $orange;
    }
    &.red {
      background-color: $red;
    }
  }
}
