@import '../../shared/defaults';

.who {
    height: calc(100% - 56px);
    position: relative;

    .detailsWrapper {
        min-height: 100%;
        padding: 10px;

        border-top: 0;
        border-bottom: 20px;
        border-right: 20px;
        border-left: 20px;
        border-style: solid;

        &.red {
            border-color: $red-background;
        }
        &.orange {
            border-color: $orange-background;
        }
        &.green {
            border-color: $green-background;
        }
    }

    .details {
        .row {
            display: flex;
            align-items: center;
            margin-top: 5px;

            > *:first-child {
                margin-right: 10px;
                opacity: 0.7;
                flex-shrink: 0;
            }
        }

        .dangerOrange, .dangerRed {
            padding: 10px;
            margin-bottom: 20px;
        }

        .dangerOrange {
            background-color: $orange-background-faint;
        }
        .dangerRed {
            background-color: $red-background-faint;
        }

        .profileImage {
            max-width: 100%;
            object-fit: cover;
            aspect-ratio: 3 / 2;
        }

        .groupedAnimalLink + .groupedAnimalLink {
            margin-left: 5px;
        }
    }
}