.who {
    height: calc(100% - 56px);
    position: relative;

    .detailsWrapper {
        min-height: 100%;
        padding: 10px;

        border-bottom: 20px;
        border-right: 20px;
        border-left: 20px;
        border-style: solid;
    }

    .details {
        .row {
            display: flex;
            align-items: center;
            margin-top: 5px;

            > *:first-child {
                margin-right: 10px;
                opacity: 0.7;
            }
        }

        .dangerOrange, .dangerRed {
            padding: 10px;
            margin-bottom: 20px;
        }

        .dangerOrange {
            background-color: rgba(orange, 0.3);
        }
        .dangerRed {
            background-color: rgba(red, 0.3);
        }

        .profileImage {
            max-width: 100%;
        }
    }
}